<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Aprenda Python</title>
</head>
<body>
    <header>
        <h1>APF - Aprenda Python Facilmente</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="equipe.html">Sobre a Equipe</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Fundamentos de Python</a>
                <div class="dropdown-content">
                    <a href="python_fundamentos.html">Estruturas de Seleção</a>
                    <a href="python_fundamentos.html">Estruturas de Repetição</a>
                    <a href="python_fundamentos.html">Vetores e Matrizes</a>
                    <a href="python_fundamentos.html">Funções e Procedimentos</a>
                    <a href="python_fundamentos.html">Tratamento de Exceções</a>
                </div>
            </li>
            <li><a href="tirar_duvidas.html">Utilize a IA!(Gemini)</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Dicionário de Termos</a>
                <div class="dropdown-content">
                    <a href="dicionario.html">Visualizar Termos</a>
                    <a href="dicionario_formulario.html">Adicionar Termo</a>
                </div>
            </li>
        </ul>
    </nav>
    <main>
<h2>Dicionário de Termos</h2>
<a href="{{ url_for('adicionar') }}">Adicionar novo termo</a>
<ul>
    <li>
        <strong>{{ termo }}</strong>: {{ definicao }}
        [<a href="{{ url_for('editar', termo=termo) }}">Editar</a>]
        [<a href="{{ url_for('deletar', termo=termo) }}">Deletar</a>]
    </li>
</ul>
    </main>

    <footer>
        <p>&copy; 2025. APF.Fundamentos de Programação.</p>
    </footer>
</body>
</html>