<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Aprenda Python</title>
</head>
<body>
    <header>
        <h1>APF - Aprenda Python Facilmente</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="equipe.html">Sobre a Equipe</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Fundamentos de Python</a>
                <div class="dropdown-content">
                    <a href="python_fundamentos.html">Estruturas de Seleção</a>
                    <a href="python_fundamentos.html">Estruturas de Repetição</a>
                    <a href="python_fundamentos.html">Vetores e Matrizes</a>
                    <a href="python_fundamentos.html">Funções e Procedimentos</a>
                    <a href="python_fundamentos.html">Tratamento de Exceções</a>
                </div>
            </li>
            <li><a href="tirar_duvidas.html">Utilize a IA!(Gemini)</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Dicionário de Termos</a>
                <div class="dropdown-content">
                    <a href="dicionario.html">Visualizar Termos</a>
                    <a href="dicionario_formulario.html">Adicionar Termo</a>
                </div>
            </li>
        </ul>
    </nav>
    <main>

    </main>
<section id="equipe">
    <h2>Nossa Equipe</h2>
    <div class="membro-equipe">
        <img src="/img/787e1221-11e9-4064-978d-af340c972a5c.jpg" alt="Foto do Membro 1" class="foto-membro"> <!-- Opcional -->
        <h3>Pedro Jorge</h3>
        <p>Responsavel pelo FrontEnd do site</p>
        <p><a href="https://www.linkedin.com/in/pedro-guerra-57088435a/" target="_blank">LinkedIn</a> | <a href="https://perfil-pessoa.vercel.app" target="_blank">Website Pessoal</a></p>
    </div>
    <div class="membro-equipe">
        <h3>Artur Trajano</h3>
        <p>Responsavel pelo BackEnd do Site</p>
        <p><a href="link_linkedin_membro2" target="_blank">LinkedIn</a></p>
    </div>
</section>

    <footer>
        <p>&copy; 2025. APF.Fundamentos de Programação.</p>
    </footer>
</body>
</html>