<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sobre a Equipe - APF</title>
</head>
<body>
<div id="loading-overlay">
    <div id="loading-text">carregando...</div>
</div>
    <header>
        <h1>APF - Aprenda Python Facilmente</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Início</a></li>
            <li><a href="{{ url_for('equipe_page') }}">Sobre a Equipe</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Fundamentos de Python</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('python_fundamentos_page', _anchor='estruturas-selecao') }}">Estruturas de Seleção</a>
                    <a href="{{ url_for('python_fundamentos_page', _anchor='estruturas-repeticao') }}">Estruturas de Repetição</a>
                    <a href="{{ url_for('python_fundamentos_page', _anchor='vetores-matrizes') }}">Vetores e Matrizes</a>
                    <a href="{{ url_for('python_fundamentos_page', _anchor='funcoes-procedimentos') }}">Funções e Procedimentos</a>
                    <a href="{{ url_for('python_fundamentos_page', _anchor='tratamento-excecoes') }}">Tratamento de Exceções</a>
                </div>
            </li>
            <li><a href="{{ url_for('tirar_duvidas_route') }}">Utilize a IA!(Gemini)</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Dicionário de Termos</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('dicionario_page') }}">Visualizar Termos</a>
                    <a href="{{ url_for('dicionario_formulario_page') }}">Adicionar Termo</a>
                </div>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Nossa Equipe</h2>
        <p>Conheça os desenvolvedores por trás do APF.</p>
    </main>
    <section id="equipe">
    <div class="membro-equipe">
        <img src="{{ url_for('static', filename='img/pedro.jpg') }}" alt="Foto do Membro 1" class="foto-membro"> <!-- Opcional -->
        <h3>Pedro Jorge</h3>
        <p>Responsavel pelo FrontEnd e BackEnd do site</p>
        <a href="https://www.linkedin.com/in/pedro-guerra-57088435a/" target="_blank">LinkedIn</a> | <a href="https://perfil-pessoa.vercel.app" target="_blank">Website Pessoal</a>
        <br>
        <img src="{{ url_for('static', filename='img/artur.jpg') }}" alt="Foto do Membro 2" class="foto-membro">
        <h3>Artur Trajano</h3>
        <p>Responsavel pelo FrontEnd e responsividade do site</p>
        <a href="https://www.linkedin.com/in/artur-trajano-medeiros-1146ab332/" target="_blank">LinkedIn</a> | <a href="https://github.com/TrajanoMedeiros" target="_blank">GitHub</a>
        <br>
        <h3>André Coelho</h3>
        <p>Responsavel pelo FrontEnd do site</p>
        <a href="https://github.com/amdre02" target="_blank">GitHub</a>
    </section>
    
    <footer>
        <p>&copy; 2025. APF.Fundamentos de Programação.</p>
    </footer>
</body>
</html>